.font-xsm {
  font-size: 14px;
  line-height: 18px;
}
.font-sm {
  font-size: 15px;
  line-height: 20px;
}
.font-md {
  font-size: 16px;
  line-height: 24px;
}
.font-xmd {
  font-size: 18px;
  line-height: 28px;
}
.font-lg {
  font-size: 20px;
  line-height: 32px;
}
.font-xlg {
  font-size: 24px;
  line-height: 36px;
}
.title-1 {
  font-size: 36px;
  line-height: 48px;
}
.title-2 {
  font-size: 48px;
  line-height: 56px;
}
.title-3 {
  font-size: 64px;
  line-height: 72px;
}
.font-action {
  font-family: var(--font-action);
}
.font-neutral {
  font-family: var(--font-neutral);
}
.font-bold {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.font-medium {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.input {
  border-radius: var(--radius-sm);
  padding: 3px 6px;
  background: var(--gray-2);
  color: var(--gray-12);
  opacity: 0.9;
  border: 1px solid var(--gray-4);
  box-shadow: var(--shadow-sm);
}
.input:focus,
.input:hover {
  background: var(--gray-1);
  opacity: 1;
  box-shadow: var(--shadow-md);
  transform: translateY(-1px);
}
.button {
  padding: 10px 20px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-small);
  background-image: linear-gradient(to bottom, var(--blue-5), var(--blue-6));
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: var(--font-neutral);
  opacity: 0.9;
}
.button:hover,
button:focus {
  opacity: 1;
  transform: translateY(-1px);
  box-shadow: var(--shadow-blur-1);
}
.box-detail {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
}
.box-detail .point-detail {
  background: var(--blue-2);
}
.hover-underline,
.underline {
  position: relative;
}
.hover-underline::after,
.underline::after {
  position: absolute;
  top: 105%;
  content: "";
  transition: 0.3s ease;
  left: 0;
  height: 2px;
  background-color: var(--gray-3);
  width: 0;
  border-radius: 10px;
}
.hover-underline:hover:after {
  width: 85%;
}
.underline::after {
  width: 85%;
}
.container-lg {
  max-width: 1200px;
}
.container-md {
  max-width: 800px;
}
.container-sm {
  max-width: 480px;
}

/* DISPLAY */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-start {
  justify-content: flex-start;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.align-center {
  align-items: center;
}
.d-none {
  display: none;
}

.border {
  border: 3px solid red;
}

.m-auto {
  margin: auto;
}
.mt-section {
  margin-top: 100px;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.mr {
  margin-right: 10px;
}
.ml {
  margin-left: 10px;
}

.pt {
  padding-top: 10px;
}

.pb {
  padding-bottom: 10px;
}
.pr {
  padding-right: 10px;
}
.pl {
  padding-left: 10px;
}
.point-detail-after {
  position: relative;
}
.point-detail-after::after {
  content: "";
  position: absolute;
}
.point-detail,
.point-detail-after::after {
  width: 8px;
  border-radius: 50%;
  height: 8px;
  background-color: var(--blue-6);
}
.detail {
  display: grid;
  gap: 4px;
}
.detail .point-detail {
  width: 8px;
  height: 8px;
  background-color: var(--blue-2);
}

.radius {
  border-radius: 6px;
}
.radius-sm {
  border-radius: 3px;
}
.radius-lg {
  border-radius: 12px;
}

.shadow-blur-1 {
  box-shadow: var(--shadow-blur-1);
}

.shadow-blur-2 {
  box-shadow: var(--shadow-blur-2);
}
.shadow-sm {
  box-shadow: var(--shadow-small);
}
.shadow-md {
  box-shadow: var(--shadow-medium);
}
.hover-shadow-2:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-blur-2);
}
.hover-shadow-1:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-blur-1);
}

.divisor-horizontal {
  height: 2px;
  width: 90%;
  background: var(--blue-2);
}

.divisor-vertical {
  width: 2px;
  height: 90%;
  min-height: 200px;
  background: var(--blue-2);
}
