body {
  padding-top: 80px;
}
.header {
  z-index: var(--above-3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  height: 80px;
  background-color: var(--gray-9);

  box-shadow: var(--shadow-blur-2);
}
.header .navbar {
  height: 100%;
}
.header .menu {
  color: var(--gray-1);
  width: 100%;
}
.header .navbar .logo {
  max-width: 100px;
  height: 100%;
}
.header .navbar .menu-link {
  opacity: 0.85;
}
.header .navbar .menu-link:hover {
  opacity: 0.95;
}
.header .navbar .menu-link.underline {
  opacity: 1;
}
