<footer class="footer">
  <div class="box-detail">
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
    <div class="point-detail"></div>
  </div>
  <section class="footer-top">
    <div class="container-lg m-auto flex flex-between align-center">
      <aside class="flex flex-between">
        <ul class="functions">
          <h3 class="title-1 hover-underline font-medium font-action">Menu</h3>
          <li class="point-detail-after font-xmd">
            <a href="/">Inicio</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/profile">Perfil</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="clips">Clips</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/signin">Entrar</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/signup">Cadastrar</a>
          </li>
        </ul>
        <ul class="menu">
          <h3 class="title-1 hover-underline font-medium font-action">
            Funções
          </h3>
          <li class="point-detail-after font-xmd">
            <a href="add/clip">Adicionar clip</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="clips">Ver clips</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="add/comment">Adicionar comentário</a>
          </li>
        </ul>
        <ul class="metrics">
          <h3 class="title-1 hover-underline font-medium font-action">
            Métricas
          </h3>
          <li class="point-detail-after font-xmd">
            <a href="/clips">Quantidade de clips</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/">Quantidade de usuários</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/clips">Clip com mais estrelas</a>
          </li>
          <li class="point-detail-after font-xmd">
            <a href="/">Média idade usuários</a>
          </li>
        </ul>
      </aside>
      <div class="right flex flex-column flex-between">
        <div class="newsletter flex flex-column">
          <label
            for="in_contact_email"
            class="newsletter-label font-xmd font-medium mb"
            >Receba nossas newsletter!</label
          >
          <input type="text" class="input font-md" />
          <button class="button font-sm mt">Inscrever-se</button>
        </div>
        <div class="social title-1 flex flex-around">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-solid fa-envelope font-medium"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-bottom">
    <div class="container-lg m-auto flex flex-between align-center">
      <span class="footer-copy font-xsm font-medium">
        Copyright © 2022 Delfino Inc. Todos os direitos reservados.
      </span>
      <ul class="footer-bottom-menu flex flex-between align-center">
        <li class="footer-bottom-menu-item font-xsm">
          <a href="#"> Suporte </a>
        </li>
        <li class="point-detail"></li>
        <li class="footer-bottom-menu-item font-xsm">
          <a href="#"> Proteção de dados </a>
        </li>
        <li class="point-detail"></li>
        <li class="footer-bottom-menu-item font-xsm">
          <a href="#"> Politicas de privacidade </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
