<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre | Yato</title>
    <%- include('components/head.ejs') %>
    <link rel="stylesheet" href="../style/pages/about.css" />
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <main class="about">
      <div
        class="where-born container-lg m-auto mt-section flex align-center flex-between"
      >
        <div class="left container-md">
          <h2 class="title-2 font-bold font-action">ONDE SURGIU YATO?</h2>

          <article class="font-xlg">
            Diretamente das séries de animes e mangás
            <strong class="font-medium underline">Noragami</strong> que foi
            criado pelo autor Adachitoka, o personagem protagoniza a obra.
            <br />
            No mundo de Noragami, existem deuses que realizam os desejos de
            acordo com a necessidade de quem tem fé neles e pedem por esses
            desejos. Assim, Yato é um Deus também, um
            <strong class="font-medium underline">Deus da Calamidade</strong>.
          </article>
        </div>
        <div class="divisor-vertical ml"></div>

        <div class="right container-sm">
          <img
            src="../assets/img/manga-noragami.jpg"
            alt="manga, noragami, gibi"
            class="shadow-medium hover-shadow-2"
          />
        </div>
      </div>
      <div
        class="who-are container-lg m-auto mt-section flex align-center flex-between flex-row-reverse"
      >
        <div class="left container-md">
          <h2 class="title-2 font-bold font-action">QUEM ELE É?</h2>
          <article class="font-xlg">
            Yato foi um Deus da Calamidade, deus esse que realiza desejos de
            vingar ou matar alguém. Com o tempo nesse cargo, ele havia percebido
            que não gostava mais de realizar esses desejos e virou um
            <strong class="font-medium underline">“deus delivery”</strong> .
            <br />
            Uma categoria criada por ele, realizava desejos fúteis até os
            estranhos. Logo, ele que já não era muito famoso e piorou a
            situação, e visto por todos os outros deuses como um
            <strong class="font-medium underline"> fracasso</strong> como deus.
          </article>
        </div>
        <div class="divisor-vertical"></div>

        <div class="right container-sm">
          <img src="../assets/img/yato-chibi.png" alt="yato, noragami,chibi" />
        </div>
      </div>
      <div
        class="where-born container-lg m-auto mt-section flex align-center flex-between"
      >
        <div class="left container-md mr">
          <h2 class="title-2 font-bold font-action">O QUE ELE QUER?</h2>
          <article class="font-xlg">
            Quando nós conhecemos ele na série, ele apenas deseja ser
            <strong class="font-medium underline">rico e famoso</strong>, e ele
            se dedica mais que qualquer outro para conquistar seu sonho, um
            santuario. <br />
            Entretanto, no decorrer da trama, vemos que ele criou
            <strong class="font-medium underline"> laços de amizades </strong>
            que são mais importantes que a fama e o dinheiro, e manter esses
            laços fortes se tornou prioridade para ele.
          </article>
        </div>
        <div class="divisor-vertical"></div>

        <div class="right container-sm ml">
          <img
            src="../assets/gif/yato-money.gif"
            alt="manga, noragami, gibi"
            class="ml shadow-md hover-shadow-1"
          />
        </div>
      </div>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
