<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio | Yato</title>
    <%- include('components/head.ejs') %>
    <link rel="stylesheet" href="../style/pages/clips.css" />
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <main class="clips">
      <button
        class="button fab shadow-blur-1 font-bold font-xlg hover-shadow-2"
      >
        <a href="/add/clip"> Novo clipe</a>
      </button>
      <div class="all container-lg flex align-center m-auto">
        <div class="shadow-sm flex flex-center flex-column align-center">
          <i class="fas fa-star favorite" title="Favoritar" data-qtd="120"
            ><span>11</span></i
          >
          <h3 class="font-action font-xlg font-medium mb">Titulo do video</h3>
          <iframe
            width="300"
            height="200"
            class="shadow-md hover-shadow-1 m-auto"
            src="https://www.youtube.com/embed/rW8RoTw7kzs"
            title="YouTube video player"
            frameborder="2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="shadow-sm flex flex-center flex-column align-center">
          <i class="fas fa-star favorite" title="Favoritar" data-qtd="120"
            ><span>11</span></i
          >
          <h3 class="font-action font-xlg font-medium mb">Titulo do video</h3>
          <iframe
            width="300"
            height="200"
            class="shadow-md hover-shadow-1 m-auto"
            src="https://www.youtube.com/embed/rW8RoTw7kzs"
            title="YouTube video player"
            frameborder="2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="shadow-sm flex flex-center flex-column align-center">
          <i class="fas fa-star favorite" title="Favoritar" data-qtd="120"
            ><span>11</span></i
          >
          <h3 class="font-action font-xlg font-medium mb">Titulo do video</h3>
          <iframe
            width="300"
            height="200"
            class="shadow-md hover-shadow-1 m-auto"
            src="https://www.youtube.com/embed/rW8RoTw7kzs"
            title="YouTube video player"
            frameborder="2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="shadow-sm flex flex-center flex-column align-center">
          <i class="fas fa-star favorite" title="Favoritar" data-qtd="120"
            ><span>11</span></i
          >
          <h3 class="font-action font-xlg font-medium mb">Titulo do video</h3>
          <iframe
            width="300"
            height="200"
            class="shadow-md hover-shadow-1 m-auto"
            src="https://www.youtube.com/embed/rW8RoTw7kzs"
            title="YouTube video player"
            frameborder="2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="shadow-sm flex flex-center flex-column align-center">
          <i class="fas fa-star favorite" title="Favoritar" data-qtd="120"
            ><span>11</span></i
          >
          <h3 class="font-action font-xlg font-medium mb">Titulo do video</h3>
          <iframe
            width="300"
            height="200"
            class="shadow-md hover-shadow-1 m-auto"
            src="https://www.youtube.com/embed/rW8RoTw7kzs"
            title="YouTube video player"
            frameborder="2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
