<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Por Quê? | Yato</title>
    <%- include('components/head.ejs') %>
    <link rel="stylesheet" href="../style/pages/about.css" />
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <main class="about">
      <div
        class="where-born container-lg m-auto mt-section flex align-center flex-between"
      >
        <div class="left container-md">
          <h2 class="title-2 font-bold font-action">CONTEXTUALIZANDO</h2>

          <article class="font-xlg">
            Yato é um deus que decidiu mudar de profissão e hoje é um fracassado
            como deus, mesmo assim ele nunca desiste de fazer o que ELE acha
            certo. <br />
            Mesmo não tendo valor com os outros deuses, ele nunca desiste do que
            quer e persiste mesmo que nos menores passos, nisso motra uma
            personalidade incrivel que eu admiro muito e levo para vida.
          </article>
        </div>
        <div class="divisor-vertical mr"></div>

        <div class="right container-sm ml">
          <img
            src="../assets/gif/yato-cat.gif"
            alt="manga, noragami, gibi"
            class="shadow-medium hover-shadow-2"
          />
        </div>
      </div>
      <div
        class="who-are container-lg m-auto mt-section flex align-center flex-between flex-row-reverse"
      >
        <div class="left container-md ml">
          <h2 class="title-2 font-bold font-action">PERSONALIDADE</h2>
          <article class="font-xlg">
            Yato aparenta ter uma personalidade
            <strong class="font-medium underline">relaxada e preguiçosa</strong>
            . Ele é brincalhão, no anime quase sempre alegre, fazendo suas
            caretas e brincadeiras. <br />
            Porém, quando o assunto fica complicado, ele muda completamente a
            sua personalidade, sendo alguém bastante sério. Também se pode
            considerar alguém bastante
            <strong class="font-medium underline">protetor e confiável</strong>
            , pois ajuda e protege as pessoas importantes para ele sem se
            importar muito com ele mesmo.
          </article>
        </div>
        <div class="divisor-vertical ml mr"></div>

        <div class="right container-sm mr">
          <img
            src="../assets/gif/yato-person.gif "
            alt="yato, noragami,chibi"
          />
        </div>
      </div>
      <div
        class="where-born container-lg m-auto mt-section flex align-center flex-between"
      >
        <div class="left container-md mr">
          <h2 class="title-2 font-bold font-action">POR QUE ELE?</h2>
          <article class="font-xlg">
            Ele é um personagem com uma personalidade muito incrivel e é por
            conta disso, ele se tornou meu
            <strong class="font-medium underline">personagem favorito</strong>
            do mundo dos animes. <br />
            Eu assisti quando era menor, em fase de desenvolvimento, então eu
            desejei ter esses traços de personalidades que ele tinha, que eu
            achei que seria muito legal e tenho traços dessa
            <strong class="font-medium underline"> personalidade</strong> até
            hoje e digo com facilidade que esse personagem me representa.
          </article>
        </div>
        <div class="divisor-vertical mr"></div>

        <div class="right container-sm ml">
          <img
            src="../assets/img/yato-question.png"
            alt="manga, noragami, gibi"
            class="ml shadow-md hover-shadow-1"
          />
        </div>
      </div>
      <div
        class="where-born container-lg m-auto mt-section flex align-center flex-between flex-row-reverse"
      >
        <div class="left container-md mr">
          <h2 class="title-2 font-bold font-action">CONCLUINDO</h2>
          <article class="font-xlg">
            Yato é um personagem incrivel, uma pena que o anime esteja sem
            continuação. Tem uma história muito bom e completa com personagens
            muito
            <strong class="font-medium underline"
              >marcantes e carismaticos</strong
            >. <br />
            Um anime que eu recomendo por quê também é muito engraçado e você
            pra retirar
            <strong class="font-medium underline">conceitos profundos</strong>
            que os personagens adotam, da forma que eu fiz!
          </article>
        </div>
        <div class="divisor-vertical"></div>

        <div class="right container-sm">
          <img
            style="max-width: 350px"
            src="../assets/img/yato-conclused.jpg"
            alt="manga, noragami, gibi"
            class="ml shadow-md hover-shadow-1"
          />
        </div>
      </div>
    </main>
    <%- include('components/footer.ejs') %>
  </body>
</html>
